__pycache__
*.egg-info
/.coverage
/dist
/build
docs/build
docs/source/_autosummary


data/*
outputs/*
model_training_outputs/*
nohup.out
wandb/*

*.ckpt
model_training_output/*
lightning_logs/*
reinvent_plugins/runs/*
reinvent_plugins/TL/*
reinvent_plugins/priors/*
